/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
  }
}

* {
  box-sizing: border-box;
  font-family: Nunito, Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  background-color: white;
  width: 0.75rem;

}

*::-webkit-scrollbar-thumb {
  background-color: black;
}
