/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


* {
  box-sizing: border-box;
  font-family: Nunito, Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  background-color: white;
  width: 0.5rem;

}

body::-webkit-scrollbar-thumb {
  background-color: black;
}
